@import "../abstract/variables.scss";
@import "../abstract/generalMixin.scss";

.createCard {
  &  h1 {
    text-transform: uppercase;
  }
  @include card(1.5rem);
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 6rem);
    grid-gap: 1rem;
    text-transform: capitalize;
  }
  &__input {
    @include inputText;
    &:focus {
      outline: none;
    }
  }
  &__form label{
    font-size:1.3em;
  }
  &__sendButton{
    text-align: center;
  }
  &__sendButton span{
    @include button;
  }

  
}
